/* CheckMail.css */


.check-mail-box {
    position: absolute;
    top: 20%;
    right: 5%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    width: 40%;
}

.sub-check-mail-box {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.mail-icon {
    width: 80px;
    height: 80px;
}

.check-mail-box-content {
    text-align: center;
    padding: 10px;
}

.check-mail-box h2 {
    font-size: 28px;
    color: mediumpurple;
    margin-bottom: 20px;
    font-family: Calibri, sans-serif;
    font-weight: 800;
}

.check-mail-box p {
    font-size: 18px;
    color: black;
    font-family: Calibri, sans-serif;
}

.success-message {
    color: #73b8cb  ;
    font-size: 18px;
    font-family: 'Calibri', sans-serif;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 2px solid #73b8cb;
    border-radius: 50px;
    background-color: #eafbff;
}
