/* CreateGroup.css */

.background-CreateGroup {
    background-image: url('/public/Images/Create + Join Grop Backround.svg');
    background-size: cover; /* Adjusts the background size to be responsive */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    width: 100%; /* Full width of the viewport */
    min-height: 100vh;
    overflow: hidden; /* Prevents overflow issues */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items to the start of the container */
    align-items: center;
    text-align: center;
    position: relative; /* Allows positioning of the logo */
    padding-top: 5vh; /* Add padding to move content down a bit */
    padding-bottom: 5vh; /* Add padding to move content down a bit */
}

.Home-page-button {
    position: absolute; /* Positions the logo absolutely within the container */
    top: 5.5vh; /* Adjust as needed */
    left: 2vw; /* Adjust as needed */
    z-index: 9999; /* Ensure the button appears above other content */
    cursor: pointer; /* Show cursor as pointer on hover */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.Home-page-button img {
    height: 70px;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.Home-page-button:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}

.top-buttons-container {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    align-items: center;
    position: absolute;
    top: 7vh;
    right: 2vw;
    gap: -3vw;
    z-index: 9999;
}

.profile-button {
    cursor: pointer; /* Show cursor as pointer on hover */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.profile-button img {
    height: 4vw;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.profile-button:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}

.question-mark-button {
    cursor: pointer; /* Show cursor as pointer on hover */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    margin-right: -2vw;
}

.question-mark-button img {
    height: 4vw;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.question-mark-button:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}

.notification-button {
    cursor: pointer; /* Show cursor as pointer on hover */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    margin-right: -2vw;
}

.notification-button img {
    height: 4vw;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.notification-button:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}

.create-group-container {
    top: 10%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-group-container form {
    width: 80%; /* Make the form take up the full width of its container */
}

.create-group-container h2 {
    font-size: 3vw;
    font-weight: 800; /* Make the headline very bold */
    color: #fff;
    margin-top: 20px;
    font-family: Montserrat, sans-serif;
    line-height: 1.2; /* Adjust line height if needed */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4); /* White shadow with 80% opacity */
}

.group-name-info-content {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 20px;
    width: 35%;
    margin: 0 auto; /* Center the container horizontally */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-width: 35%;
}

.group-desc-info-content {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 15px;
    width: 80%;
    margin: 0 auto; /* Center the container horizontally */
}

.group-name-info-content input {
    color: mediumpurple; /* Text color */
    border: 2px solid transparent; /* Border around the text box */
    border-radius: 50px; /* Rounded corners like the profile fields */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    font-family: mon, sans-serif;
    font-size: 30px; /* Font size for the text inside the input */
    font-weight: 850; /* Make the headline very bold */
    text-align: center; /* Center the label text */
    width: 90%;
    min-width: 90%;
}

.group-desc-info-content textarea {
    color: white; /* Text color */
    border: 2px solid transparent; /* Border around the text box */
    border-radius: 50px; /* Rounded corners like the profile fields */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    font-family: "Calibri Light", sans-serif;
    font-size: 25px; /* Font size for the text inside the input */
    text-align: center; /* Center the label text */
    width: 90%;
    overflow: hidden; /* Hide scrollbars */
    resize: none; /* Prevent manual resizing */
}

.group-name-info-content div,
.group-desc-info-content div {
    position: relative;
    font-family: "Poor Richard"; /* Font family like the profile page */
}

.group-name-info-content div p,
.group-desc-info-content div p {
    margin: 5px 0; /* Adjust margins */
    color: white; /* Make text color white */
    padding: 10px; /* Adjust padding as needed */
    border: 2px solid white; /* Border around the text box */
    border-radius: 50px; /* Rounded corners */
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.group-name-info-content div p span.label,
.group-desc-info-content div p span.label {
    position: absolute;
    top: -10px;
    left: 25px;
    background-color: black;
    color: white;
    padding: 2px 5px;
    font-size: 1.3em;
    font-family: "Calibri Light";
}

.form-group {
    display: flex;
    flex-direction: row; /* Align items in a row */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center the items horizontally */
    gap: 10px; /* Space between select and button */
    width: 100%; /* Full width of the container */
    max-width: 600px; /* Optional: Max width to keep it responsive */
    margin: 0 auto;
}

.form-group.vertical {
    text-align: center;
    margin-bottom: 10px;
    gap:20px;
}

.user-add-container {
    background-color: rgba(255, 255, 255, 0.2); /* White background with opacity */
    border-radius: 3px; /* Rounded corners */
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Add space between items */
}

.error-message {
    color: red;
    margin-top: 20px;
    font-size: 16px;
}

.add-user-button {
    background-color: mediumpurple; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 50px; /* Rounded corners */
    padding: 3px 3px; /* Padding inside buttons */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition for background color */
    align-items: center; /* Center icon and text vertically */
    gap: 5px; /* Space between icon and text */
    height: 40px; /* Set button height */
    width: 120px; /* Set button width */
    font-family: Calibri; /* Specify Calibri as the preferred font */
    font-size: 15px;
    font-weight: bold; /* Make the text bold */
    margin-left: 35px;
    text-align: center;
}

.add-user-button:hover {
    background-color: rebeccapurple; /* Darker background on hover */
}

.added-users {
    width: 100%;
    align-content: center;
    align-items: center;
}

.added-users h2 {
    margin: 0 0 20px 0; /* Adjust margins */
    color: mediumpurple; /* Text color */
    font-family: "Poor Richard";
    font-size: 40px;
    letter-spacing: 0.6px; /* Add some letter spacing for emphasis */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0); /* White shadow with 80% opacity */
}

.added-users ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;  /* Center list items */
    font-family: 'Calibri';
    color: black;
    font-size: 18px;
}

.added-users li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;  /* Center text inside list items */
    width: 150px; /* Fixed width for all items */
    box-sizing: border-box; /* Include padding and border in the width */
    font-family: 'Calibri', sans-serif;
    font-size: 19px;
    font-weight: bold;
}

/* Remove user button styles */
.remove-user-creategroup-button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
}

.remove-user-creategroup-button:hover {
    color: red;
}

.added-users li:hover .remove-user-creategroup-button {
    visibility: visible;
}


.react-select {
    width: 50%;
    color: mediumpurple;
}

.react-select
    .react-select__control {
        background-color: white; /* Transparent background */
        border: 2px solid #9374dd; /* Border around the control */
        border-radius: 50px; /* Rounded corners */
        font-family: Calibri, sans-serif; /* Font family */
        font-size: 20px; /* Font size */
        height: 40px;
}

.react-select
    .react-select__control--is-focused {
        border-color: #82CBDF; /* Border color when focused */
        box-shadow: 0 0 10px 1px #82CBDF; /* Shadow effect when focused */
}

.react-select
    .react-select__indicator {
        color: black; /* Color of the dropdown indicator */
}

.react-select
    .react-select__menu {
        background-color: white; /* Background color of the dropdown menu */
        border: 1px solid #666; /* Border around the dropdown menu */
        border-radius: 5px; /* Rounded corners */
        font-family: Calibri, sans-serif;
}

.react-select
    .react-select__option {
        background-color: white; /* Background color of options */
        color: #9374dd; /* Text color of options */
        font-family: Calibri, sans-serif;
}

.react-select
    .react-select__option--is-focused {
        background-color: #9374dd; /* Background color when option is focused */
        color: #82CBDF; /* Text color when option is focused */
}

.react-select
    .react-select__option--is-selected {
        background-color: #82CBDF; /* Background color when option is focused */
        color: #9374dd; /* Text color when option is focused */
}

.react-select
    .react-select__placeholder {
        color: black; /* Your custom placeholder color */
        font-family: Calibri, sans-serif;
  }

.button-create-group {
    width: 250px; /* Button takes up full width of the form group */
    padding: 15px;
    background-color: #82CBDF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Calibri;
    font-size: 19px;
    font-weight: bold;
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
    border-radius: 50px;
}

.button-create-group:hover {
    opacity: 0.7;
}