/* EditProfile.css */

.info-container-edit {
    background-color: rgba(255, 255, 255, 0); /* White background with opacity */
    border-radius: 3px; /* Rounded corners */
    padding: 20px; /* Padding inside the container */
    position: absolute; /* Position absolutely at the top */
    top: 15px; /* Adjust as needed */
    width: 100%; /* Adjust width as needed */
    max-width: 900px; /* Max width */
    display: grid;
    grid-template-columns: 300px 300px 30px;
    gap: 20px;
    column-gap: 30px;
    align-items: start;
    left: 58%;
    transform: translateX(-50%); /* Adjust position to center horizontally */
}

.info-container-edit h2 {
    grid-column: span 2; /* Make the heading span all columns */
    color: white; /* text color */
    margin: 20px 0; /* Adjust margins */
    font-family: mon, sans-serif; /* Specify Calibri as the preferred font */
    font-size: 40px;
    font-weight: 900; /* Make the headline very bold */
    letter-spacing: 0.2px; /* Add some letter spacing for emphasis */
    text-align: center; /* Center the text */
}

.info-container-edit .buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px; /* Space between buttons */
    margin-top: 50px; /* Add margin to the top */
    margin-left: 20px;
    grid-column: 3; /* Position in the third column */
    justify-self: start; /* Align to the start of the column */
}

.info-container-edit button {
    background-color: mediumpurple; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 3px 3px; /* Padding inside buttons */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition for background color */
    display: flex;
    text-align: center; /* Center the text inside the button */
    align-items: center; /* Center icon and text vertically */
    justify-content: center;
    gap: 5px; /* Space between icon and text */
    height: 35px; /* Set button height */
    width: 100px; /* Set button width */
    font-family: Calibri; /* Specify Calibri as the preferred font */
    font-size: 15px;
    font-weight: bold; /* Make the text bold */
}

.info-container-edit button img {
    height: 30px; /* Adjust icon size */
    width: 30px; /* Adjust icon size */
}

.info-container-edit button:hover {
    background-color: rebeccapurple; /* Darker background on hover */
}


.info-content-edit {
    grid-column: span 2; /* Span two columns of the grid */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 15px;
    column-gap: 30px;
}

.info-content-edit input {
    color: white; /* Make text color white */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    height: 0px;
}

.info-content-edit div {
    position: relative;
    font-family: "Poor Richard";
}

.info-content-edit div p {
    margin: 5px 0; /* Adjust margins */
    color: white; /* Make text color white */
    padding: 10px; /* Adjust padding as needed */
    border: 2px solid white; /* Border around the text box */
    border-radius: 5px; /* Rounded corners */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.info-content-edit div p span.label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 2px 5px;
    font-size: 1em;
    font-family: "Calibri Light"; /* Specify Calibri as the preferred font */
}


