/* ForgotPassword.css */

.background-ForgotPassword {
    background-image: url('/public/Images/Login Background.svg');
    background-size: cover; /* Adjusts the background size to be responsive */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    width: 100%; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Prevents overflow issues */
    display: flex;
    justify-content: center; /* Center the content vertically */
    align-items: center;
    text-align: center;
    position: relative; /* Allows positioning of the logo */
    margin: 0; /* Ensure there is no margin around the element */
    padding: 0; /* Ensure there is no padding around the element */
}

.back-to-login-button {
    position: absolute;
    top: 20px;
    left: 40%;
    cursor: pointer;
    z-index: 9999; /* Ensure the button appears above other content */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.back-to-login-button img {
    height: 150px;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.back-to-login-button:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}

.ForgotPassword-form {
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    transform: translateX(75%); /* Move the form 50px to the right */
}

.h2-ForgotPassword{
    font-size: 20px;
    font-weight: 900; /* Make the headline very bold */
    color: #fff;
    margin-bottom: 5%;
    margin-top: 0%; /* Remove any top margin */
    font-family: Montserrat, sans-serif;
    line-height: 1.2; /* Adjust line height if needed */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4); /* White shadow with 80% opacity */
}

.form-group-ForgotPassword {
    position: relative;
    margin-bottom: 20px;
    width: 100%; /* Ensure the form group takes up the full width */
}

.input-ForgotPassword {
    width: 100%; /* Input takes up full width of the form group */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding-left: 50px; /* Adjust for icon */
    font-family: Calibri;
    font-size: 19px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

.button-ForgotPassword {
    width: 100%; /* Button takes up full width of the form group */
    padding: 15px;
    background-color: #82CBDF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Calibri;
    font-size: 19px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
    border-radius: 50px;
}

.button-ForgotPassword:hover {
    opacity: 0.7;
}

.icon-container-ForgotPassword {
    position: absolute;
    left: 15px; /* Adjust the position of the image */
    top: 50%;
    transform: translateY(-50%);
}


