.background-group-details {
    background-image: url('/public/Images/Profile background.svg');
    background-size: cover; /* Adjusts the background size to be responsive */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    width: 100%; /* Full width of the viewport */
    min-height: 100vh;
    overflow: hidden; /* Prevents overflow issues */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items to the start of the container */
    align-items: center;
    text-align: center;
    position: relative; /* Allows positioning of the logo */
    padding-top: 5vh; /* Add padding to move content down a bit */
    padding-bottom: 5vh; /* Add padding to move content down a bit */
}

.group-details-container {
    background-color: transparent; /* Slightly transparent to see the background */
    width: 100%; /* Adjust the width as needed */
    max-width: 900px;
    max-height: 0px;
    text-align: center;  /* Center text inside the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 220px;
}

.group-details-container .buttons {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Space between buttons */
    margin-top: 10px; /* Add margin to the top */
    justify-self: center; /* Align to the start of the column */
}

.group-details-container button {
    background-color: mediumpurple; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 50px; /* Rounded corners */
    padding: 3px 3px; /* Padding inside buttons */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition for background color */
    display: flex;
    align-items: center; /* Center icon and text vertically */
    gap: 0px; /* Space between icon and text */
    height: 35px; /* Set button height */
    width: 120px; /* Set button width */
    font-family: Calibri; /* Specify Calibri as the preferred font */
    font-size: 15px;
    font-weight: bold; /* Make the text bold */
    line-height: 12px;
}

.group-details-container button img {
    height: 30px; /* Adjust icon size */
    width: 30px; /* Adjust icon size */
}

.group-details-container button:hover {
    background-color: rebeccapurple; /* Darker background on hover */
}

.group-header {
    color: mediumpurple; /* text color */
    font-family: mon, sans-serif;
    font-size: 50px;
    font-weight: 900; /* Make the headline very bold */
    text-align: center; /* Center the text */

}

.group-info {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;  /* Ensure grid spans full width of the container */
    font-family: Calibri, sans-serif; /* Specify Calibri as the preferred font */
    text-align: center;
    font-size: 24px;
    color: white;
}

.group-info-row {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: #999;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.add-user-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: Calibri, sans-serif;
    margin-bottom: 25px;
}

.add-user-input input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    width: 50%;
    font-family: Calibri, sans-serif;
}

.add-user-input button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: mediumpurple;
    color: white;
    border: none;
    border-radius: 50px;
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.add-user-input button:hover {
    background-color: rebeccapurple;
}

.add-user-select-GD {
    width: 250px; /* Set the desired width */
    border-radius: 50px;
    padding: 0px 20px;
    font-size: 17px;
    height: 20px;
    font-family: 'Calibri Light', sans-serif;
}

.add-user-select-GD
.add-user-select-GD__control {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly opaque background for better readability */
    border: 1px solid #999; /* Match with your design palette */
    border-radius: 50px;
    color: black;
    font-family: Calibri, sans-serif;
    font-size: 17px;
    padding: 10px;
    height: 20px;
    align-content: center;
}

.add-user-select-GD
.add-user-select-GD__indicator {
    color: mediumpurple; /* Match the border or other design elements */
}

.add-user-select-GD
.add-user-select-GD__menu {
    background-color: #fff; /* Ensure good contrast with text */
    border: 1px solid #7a77a2; /* Match with your design palette */
}

.add-user-select-GD
.add-user-select-GD__option--is-focused {
    background-color: #e0e0e0; /* Lighter color for focused state */
    color: black;
}

.add-user-select-GD
.add-user-select-GD__option--is-selected {
    background-color: mediumpurple; /* Color when selected */
    color: white;
}



.user-list {
    display: flex;
    flex-direction: column;
    width: 91%;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Calibri', sans-serif;
    margin: 0 auto; /* Center horizontally within its parent */
}

.user-list ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;  /* Center list items */
    font-family: 'Calibri';
    color: black;
    font-size: 18px;
}

.user-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;  /* Center text inside list items */
    width: 150px; /* Fixed width for all items */
    box-sizing: border-box; /* Include padding and border in the width */
    font-family: 'Calibri', sans-serif;
    font-size: 19px;
    font-weight: bold;
}

.get-playlist-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: mediumpurple;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.get-playlist-btn:hover {
    background-color: rebeccapurple;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal-button {
    background-color: #4a148c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Add margin between buttons */
}

.modal-button:hover {
    background-color: #6a1b9a;
}

.modal-cancel-button {
    background-color: #ccc;
    color: #333;
}

.modal-cancel-button:hover {
    background-color: #bbb;
}

.feedback-message {
    color: green;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

.feedback-message.error {
    color: red;
}

.like-button {
    background: none;
    border: none;
    font-size: 24px; /* Adjust size as needed */
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    left: 93%;
    top: 50%;
    padding: 0; /* Remove padding */
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}
.like-button img {
    height: 30px;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.like-button:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
    opacity: 0.8;
}


.unlike-button {
    background: none;
    border: none;
    font-size: 24px; /* Adjust size as needed */
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    left: 86%;
    top: 50%;
    padding: 0; /* Remove padding */
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}
.unlike-button img {
    height: 30px;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.unlike-button:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
    opacity: 0.8;
}


.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.2);
    border-left-color: #82CBDF;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.group-songs-container {
    max-height: 20vh; /* Adjust this value as needed to limit the visible height */
    overflow-y: auto;
    padding: 20px;
    font-family: 'Calibri', sans-serif;
}


.play-list-container-gd {
    max-height: 30vh; /* Adjust this value as needed to limit the visible height */
    overflow-y: auto;
    padding: 20px;
    font-family: 'Calibri', sans-serif;
    width: 100%;
    background-color: forestgreen;
}

.song-card-gd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
}

.song-info-gd {
    display: flex;
    flex-direction: column;
}

.song-name-gd {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.song-artist-gd {
    font-size: 16px;
    color: #666;
}

.maymay {
    background-color: pink;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Add margin between buttons */
}

.no-playlist-found {
    color: #82CBDF;
    font-size: 22px;
    margin-top: 80px;
    font-family: 'Calibri', sans-serif;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text horizontally */
}

.no-playlist-found img {
    margin-top: -10px;
    height: 100px; /* Adjust the height as needed */
    width: 100px; /* Adjust the width as needed */
}