.background {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-details-container {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent to see the background */
    border-radius: 10px;
    padding: 30px;
    width: 80vh; /* Adjust the width as needed */
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;  /* Center text inside the container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-header {
    color: #4a148c;
    font-size: 32px;
    margin-bottom: 20px;
}

.group-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 20px;
    text-align: left;  /* Align text to the left inside the grid */
    width: 100%;  /* Ensure grid spans full width of the container */
}

.group-info span {
    font-size: 18px;
    color: #333;
}

.group-info-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.group-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.group-actions button {
    background-color: #4a148c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.group-actions button:hover {
    background-color: #6a1b9a;
}

.add-user-input {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.add-user-input input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    width: 50%;
}

.add-user-input button {
    background-color: #4a148c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 50%;
}

.add-user-input button:hover {
    background-color: #6a1b9a;
}

.user-list {
    margin-top: 20px;
    width: 100%;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;  /* Center list items */
}

.user-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;  /* Center text inside list items */
    flex: 1 1 20%; /* Allow up to 5 items per row, adjust as needed */
    max-width: 23%; /* Ensure items wrap correctly */
}

.get-playlist-btn {
    display: block;
    margin: 20px auto;
    background-color: #4a148c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 50%;
}

.get-playlist-btn:hover {
    background-color: #6a1b9a;
}

.add-user-select {
    width: 250px; /* Set the desired width */
    border-radius: 5px;
    padding: 0px 20px;
    font-size: 16px;   
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal-button {
    background-color: #4a148c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Add margin between buttons */
}

.modal-button:hover {
    background-color: #6a1b9a;
}

.modal-cancel-button {
    background-color: #ccc;
    color: #333;
}

.modal-cancel-button:hover {
    background-color: #bbb;
}

.feedback-message {
    color: green;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

.feedback-message.error {
    color: red;
}

