/* HomePage.css */
.background-homePage {
    background-image: url('/public/Images/Home Page Background.svg');
    background-size: cover; /* Adjusts the background size to be responsive */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    width: 100%; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Prevents overflow issues */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start of the container */
    align-items: center;
    text-align: center;
    position: relative; /* Allows positioning of the logo */
    padding-top: 0; /* Add padding to move content down a bit */
    padding-bottom: 5vh; /* Add padding to move content down a bit */
}

body::-webkit-scrollbar {
    display: none;
}

.notification-button.popup {
    animation: popup-animation 5s forwards;
}

@keyframes popup-animation {
    0%, 100% {
        transform: scale(1);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: scale(1.2);
    }
    20%, 40%, 60%, 80% {
        transform: scale(1);
    }
}

.headline-home-page {
    font-size: 6vw;
    font-weight: 900; /* Make the headline very bold */
    color: #fff;
    margin-bottom: 5%;
    margin-top: 10%;
    font-family: Montserrat, sans-serif;
    line-height: 1.2; /* Adjust line height if needed */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* White shadow with 80% opacity */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.create-group-button {
    border: none;
    background: none;
    cursor: pointer;
}

.create-group-button img {
    height: 10vw; /* Adjust the size of the button images */
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.create-group-button:hover img {
    transform: scale(1.1); /* Enlarge the button image on hover */
}

.join-group-button {
    border: none;
    background: none;
    cursor: pointer;
}

.join-group-button img {
    height: 10vw; /* Adjust the size of the button images */
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.join-group-button:hover img {
    transform: scale(1.1); /* Enlarge the button image on hover */
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: mediumpurple;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    color: white;
}