/* HomePage.css */
.background-homePage {
    background-image: url('/public/Images/Home Page Background.svg');
    background-size: cover; /* Adjusts the background size to be responsive */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    width: 100%; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Prevents overflow issues */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start of the container */
    align-items: center;
    text-align: center;
    position: relative; /* Allows positioning of the logo */
    margin: 0; /* Ensure there is no margin around the element */
    padding: 0; /* Ensure there is no padding around the element */
}

body::-webkit-scrollbar {
    display: none;
}

.profile-button {
    position: absolute; /* Positions the logo absolutely within the container */
    top: 7%; /* Adjust as needed */
    right: 2%; /* Adjust as needed */
    z-index: 9999; /* Ensure the button appears above other content */
    cursor: pointer; /* Show cursor as pointer on hover */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.profile-button img {
    height: 60px;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.profile-button:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}

.question-mark-button {
    position: absolute; /* Positions the logo absolutely within the container */
    top: 7%; /* Adjust as needed */
    right: 7%; /* Adjust as needed */
    z-index: 9999; /* Ensure the button appears above other content */
    cursor: pointer; /* Show cursor as pointer on hover */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.question-mark-button img {
    height: 60px;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.question-mark-button:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}

.notification-button {
    position: absolute; /* Positions the logo absolutely within the container */
    top: 7%; /* Adjust as needed */
    right: 12%; /* Adjust as needed */
    z-index: 9999; /* Ensure the button appears above other content */
    cursor: pointer; /* Show cursor as pointer on hover */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.notification-button img {
    height: 60px;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.notification-button:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}

.notification-button.popup {
    animation: popup-animation 5s forwards;
}

@keyframes popup-animation {
    0%, 100% {
        transform: scale(1);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: scale(1.2);
    }
    20%, 40%, 60%, 80% {
        transform: scale(1);
    }
}

.headline-home-page {
    font-size: 100px;
    font-weight: 900; /* Make the headline very bold */
    color: #fff;
    margin-bottom: 5%;
    margin-top: 10%; /* Remove any top margin */
    font-family: Montserrat, sans-serif;
    line-height: 1.2; /* Adjust line height if needed */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* White shadow with 80% opacity */

}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.create-group-button {
    border: none;
    background: none;
    cursor: pointer;
}

.create-group-button img {
    height: 180px; /* Adjust the size of the button images */
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.create-group-button:hover img {
    transform: scale(1.1); /* Enlarge the button image on hover */
}

.join-group-button {
    border: none;
    background: none;
    cursor: pointer;
}

.join-group-button img {
    height: 180px; /* Adjust the size of the button images */
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.join-group-button:hover img {
    transform: scale(1.1); /* Enlarge the button image on hover */
}
