.background-JoinGroup {
    background-image: url('/public/Images/Create + Join Grop Backround.svg');
    background-size: cover; /* Adjusts the background size to be responsive */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    width: 100%; /* Full width of the viewport */
    min-height: 100vh;
    overflow: hidden; /* Prevents overflow issues */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items to the start of the container */
    align-items: center;
    text-align: center;
    position: relative; /* Allows positioning of the logo */
    padding-top: 5vh; /* Add padding to move content down a bit */
    padding-bottom: 5vh; /* Add padding to move content down a bit */
}

.container-joinGroup {
    position: relative;
    top: 10%;
    width: 65%;
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    text-align: center;
    min-height: 60vh;  /* Set a minimum height */
}

.container-joinGroup h2 {
    font-size: 3vw;
    font-weight: 800; /* Make the headline very bold */
    color: #fff;
    margin-top: 5vh;
    font-family: Montserrat, sans-serif;
    line-height: 1.2; /* Adjust line height if needed */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4); /* White shadow with 80% opacity */
}

.container-joinGroup h3 {
    font-size: 40px;
    font-weight: 2000; /* Make the headline very bold */
    color: #a0d0dd;
    font-family: "Calibri";
    text-align: center;
    line-height: 1; /* Adjust line height if needed */
}

/*.sub-container-join-group {*/
/*    background-color: rgba(255, 255, 255, 0.2); !* White background with opacity *!*/
/*    border-radius: 3px; !* Rounded corners *!*/
/*    width: 100%; !* Adjust width as needed *!*/
/*    padding: 20px; !* Padding inside the container *!*/
/*    text-align: center; !* Center the text *!*/
/*    margin: 0 auto; !* Center horizontally within its parent *!*/
/*}*/

.option-buttons-joinGroup {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bigButton-joinGroup {
    border: none;
    background: none;
    cursor: pointer;
}

.bigButton-joinGroup img {
    height: 12vw; /* Adjust the size of the button images */
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.bigButton-joinGroup:hover img {
    transform: scale(1.1); /* Enlarge the button image on hover */
}

.form-join-group-by-ID {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.form-join-group-by-ID input[type="text"] {
    width: 15%;
    padding: 12px;
    border: 2px solid white; /* Set the border color */
    border-radius: 50px; /* Set the border radius to 50px */
    font-family: Calibri, sans-serif;
    font-size: 17px;
    text-align: center;
    background-color: white; /* Set the background color */
    color: #333; /* Set the text color */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    transition: border-color 0.3s, box-shadow 0.3s; /* Add transition effects */
    margin: 0px;
}

.form-join-group-by-ID input:focus {
    border-color: mediumpurple; /* Change border color on focus */
}

.form-join-group-by-ID button {
    padding: 10px 20px;
    background-color: mediumpurple;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 50px;
    transition: background-color 0.3s;
    margin: 0px;
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.form-join-group-by-ID button:hover {
    background-color: rebeccapurple;
}

.content-box-joingroup {
    background-color: rgba(255, 255, 255, 0.2); /* White background with opacity */
    border-radius: 3px; /* Rounded corners */
    width: 90%; /* Adjust width as needed */
    padding: 20px; /* Padding inside the container */
    text-align: center; /* Center the text */
    margin: 0 auto; /* Center horizontally within its parent */
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.modal-content {
    text-align: center;
    padding: 10px;
}

.modal-content button {
    margin-top: 0px;
    padding: 10px 20px;
    background-color: mediumpurple;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: rebeccapurple;
}

.close-button-JG {
    position: absolute; /* Position it absolutely */
    top: 6vh; /* Align it to the top */
    left: 6vh; /* Align it to the left */
    align-self: flex-start;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: mediumpurple;
    padding: 0;
    margin: 0;
}

.close-button-JG:hover {
    color: red;
}

.error-message {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}


.detailItem-joinGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.detailItem-joinGroup span {
    font-weight: bold;
    color: #333;
}

.detailItem-joinGroup .value {
    color: #555;
}

/* Feedback Styles */
.feedbackMessage-joinGroup {
    color: red;
    font-size: 17px;
    margin-top: 20px;
}

/* Modal Styles */
.modalOverlay-joinGroup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent-joinGroup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.modalButtons-joinGroup {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modalButton-joinGroup {
    padding: 10px 20px;
    background-color: #8925C7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.modalButton-joinGroup:hover {
    background-color: #6d1f99;
}

.modalCancelButton-joinGroup {
    background-color: #ccc;
}

.modalCancelButton-joinGroup:hover {
    background-color: #aaa;
}
