/* LogIn.css */


.background-login {
    background-image: url('/public/Images/Login Background.svg');
    background-size: cover; /* Adjusts the background size to cover the entire container */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    width: 100%; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    text-align: center;
    position: relative; /* Allows positioning of the logo */
    margin: 0; /* Ensure there is no margin around the element */
    padding: 0; /* Ensure there is no padding around the element */
}

.login-form {
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Fixed width for the container */
    padding: 20px; /* Add padding inside the form */
    transform: translateX(75%); /* Move the form 50px to the right */
}

.form-group-login {
    position: relative;
    margin-bottom: 20px;
    width: 100%; /* Ensure the form group takes up the full width */
}

.input-login {
    width: 100%; /* Input takes up full width of the form group */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding-left: 50px; /* Adjust for icon */
    font-family: Calibri;
    font-size: 19px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

.button-login {
    width: 100%; /* Button takes up full width of the form group */
    padding: 15px;
    background-color: #82CBDF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Calibri;
    font-size: 19px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
    border-radius: 50px;
}

.button-login:hover {
    opacity: 0.7;
}

.icon-container-login {
    position: absolute;
    left: 15px; /* Adjust the position of the image */
    top: 50%;
    transform: translateY(-50%);
}

.additional-options-login {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.additional-options-login span {
    color: white;
    font-size: 13px;
    font-family: Calibri;
    cursor: pointer;
}

.additional-options-login span:hover {
    color: mediumpurple;
}

.toggle-password-login {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: gray;
    font-family: Calibri;
}

.toggle-password-login:hover {
    color: mediumpurple;
}


.remember-me-container {
    display: flex;
    align-items: center; /* Align items vertically centered */
    margin-right: 62%;
    color: white;
    font-family: Calibri;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap; /* Prevent text from wrapping */
}

.remember-me-container input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}

.custom-checkbox-span {
    width: 20px; /* Set the width of the custom checkbox */
    height: 20px; /* Set the height of the custom checkbox */
    border-radius: 50%; /* Make it a circle */
    border: 2px solid white; /* Border of the checkbox */
    display: inline-block; /* Inline block element */
    position: relative; /* Position relative for the pseudo-element */
    margin-right: 10px; /* Space between the checkbox and label text */
    cursor: pointer; /* Pointer cursor */
    box-sizing: border-box; /* Include border in element's total width and height */
}

.custom-checkbox-span::after {
    content: ''; /* Empty content for the checkmark */
    width: 12px; /* Width of the checkmark */
    height: 12px; /* Height of the checkmark */
    border-radius: 50%; /* Make it a circle */
    background-color: mediumpurple; /* Background color when checked */
    position: absolute; /* Position absolute for the pseudo-element */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%) scale(0); /* Scale down to hide */
    transition: transform 0.2s ease-in-out; /* Transition effect */
}

.custom-checkbox:checked + .custom-checkbox-span::after {
    transform: translate(-50%, -50%) scale(1); /* Scale up to show */
}
