/* LogIn.css */

h2 {
    font-size: 22px; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold */
    color: #333; /* Set the text color */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
    text-align: center; /* Center-align the text */
    letter-spacing: 0.5px; /* Add some letter spacing for emphasis */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow */
    font-family: Calibri, sans-serif; /* Specify Calibri as the preferred font */
}

.login-form {
    position: fixed; 
    top: 50%;
    right: 0; 
    transform: translateY(-65%); 
    background-color: white; 
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    margin-right: 300px;
    width: 300px;
    border-color: #8925C7;
    border-width:thin;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 85%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    padding-left: 30px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8925C7; /* Blue color for the login button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

.icon-container {
    position: absolute;
    left: 5px; /* Adjust the position of the image */
    top: 50%;
    transform: translateY(-50%);
}

.form-group {
    position: relative;
}

.input-with-icon {
    padding-left: 80px; /* Add additional padding to the left of the input field to accommodate the image */
}

.additional-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Adjust margin top as needed */
}

.additional-options span {
    color: #777; /* Adjust color as needed */
    font-size: 10px; /* Adjust font size as needed */
    cursor: pointer; /* Show cursor as pointer on hover */
}

.additional-options span:hover {
    color: #8925C7; /* Adjust hover color as needed */
}

.iconLock {
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto; /* Center the image horizontally */
    text-align: center; /* Center the content of the div */
}