.Home-page-button {
    position: absolute; /* Positions the logo absolutely within the container */
    top: 6%; /* Adjust as needed */
    left: 2%; /* Adjust as needed */
    z-index: 9999; /* Ensure the button appears above other content */
    cursor: pointer; /* Show cursor as pointer on hover */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.Home-page-button img {
    height: 70px;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.Home-page-button:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}

.profile-button {
    position: absolute; /* Positions the logo absolutely within the container */
    top: 7%; /* Adjust as needed */
    right: 2%; /* Adjust as needed */
    z-index: 9999; /* Ensure the button appears above other content */
    cursor: pointer; /* Show cursor as pointer on hover */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.profile-button img {
    height: 60px;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.profile-button:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}

.question-mark-button {
    position: absolute; /* Positions the logo absolutely within the container */
    top: 7%; /* Adjust as needed */
    right: 7%; /* Adjust as needed */
    z-index: 9999; /* Ensure the button appears above other content */
    cursor: pointer; /* Show cursor as pointer on hover */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.question-mark-button img {
    height: 60px;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.question-mark-button:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}


.notifications-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.3); /* White background with opacity */
    border-radius: 3px; /* Rounded corners */
    width: 45%; /* Adjust width as needed */
    text-align: center; /* Center the text */
}

.notifications-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.notification-card {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.notification-card p {
    margin: 0 0 10px;
}

.notification-card button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.notification-card button:first-of-type {
    background-color: #4CAF50;
    color: white;
}

.notification-card button:last-of-type {
    background-color: #f44336;
    color: white;
}

.notification-card button:hover {
    opacity: 0.8;
}

button-notifications-page {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button-notifications-page :hover {
    opacity: 0.8;
}

/* Pop-up styles */
.popup-notifications-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-notifications-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-notifications-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.popup-notifications-button-confirm {
    background-color: #6A0DAD;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-notifications-button-cancel {
    background-color: #ccc;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-notifications-button-confirm:hover {
    background-color: #520d8a;
}

.popup-notifications-button-cancel:hover {
    background-color: #aaa;
}


