.play-list-container {
    max-height: 55vh; /* Adjust this value as needed to limit the visible height */
    overflow-y: auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.song-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
}

.song-info {
    display: flex;
    flex-direction: column;
}

.song-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.song-artist-gd {
    font-size: 16px;
    color: #666;
}

.trash-can-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    display: none;
}

.song-card:hover .trash-can-icon {
    display: block;
}

