/* Profile.css */

.background-profile {
    background-image: url('/public/Images/Profile background.svg');
    background-size: cover; /* Adjusts the background size to be responsive */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    width: 100%; /* Full width of the viewport */
    min-height: 100vh;
    overflow: hidden; /* Prevents overflow issues */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items to the start of the container */
    align-items: center;
    text-align: center;
    position: relative; /* Allows positioning of the logo */
    padding-top: 5vh; /* Add padding to move content down a bit */
    padding-bottom: 5vh; /* Add padding to move content down a bit */
}

.Home-page-button-profile {
    position: absolute; /* Positions the logo absolutely within the container */
    top: 4vh; /* Adjust as needed */
    left: 2vw; /* Adjust as needed */
    z-index: 9999; /* Ensure the button appears above other content */
    cursor: pointer; /* Show cursor as pointer on hover */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.Home-page-button-profile img {
    height: 5vw;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.Home-page-button-profile:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}

.question-mark-button-profile {
    cursor: pointer; /* Show cursor as pointer on hover */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.question-mark-button-profile img {
    height: 4vw;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.question-mark-button-profile:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}

.notification-button-profile {
    cursor: pointer; /* Show cursor as pointer on hover */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    margin-right: -2vw;
}

.notification-button img {
    height: 4vw;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.notification-button-profile:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}

.notification-button-profile.popup {
    animation: popup-animation 5s forwards;
}

@keyframes popup-animation {
    0%, 100% {
        transform: scale(1);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: scale(1.2);
    }
    20%, 40%, 60%, 80% {
        transform: scale(1);
    }
}

.info-container,
.info-container-edit {
    background-color: rgba(255, 255, 255, 0); /* White background with opacity */
    border-radius: 3px; /* Rounded corners */
    padding: 2%; /* Padding inside the container */
    position: relative; /* Position absolutely at the top */
    width: 100%; /* Adjust width as needed */
    max-width: 900px; /* Max width */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    align-items: center;
    align-content: center;
    left: 6.5%;
    /*transform: translateX(-50%); !* Adjust position to center horizontally *!*/
    margin: 0 auto;
}

.info-container h2,
.info-container-edit h2 {
    grid-column: span 2; /* Make the heading span all columns */
    color: white; /* text color */
    margin: 20px 0 15px 0;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vw;
    font-weight: 850; /* Make the headline very bold */
    letter-spacing: 0.3px;
    text-align: center;
}

.info-container .buttons,
.info-container-edit .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between buttons */
    margin-top: 50px; /* Add margin to the top */
    margin-left: 20px;
    grid-column: 3; /* Position in the third column */
}

.info-container button,
.info-container-edit button {
    background-color: mediumpurple; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 50px; /* Rounded corners */
    padding: 3px 3px; /* Padding inside buttons */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition for background color */
    display: flex;
    align-items: center; /* Center icon and text vertically */
    gap: 5px; /* Space between icon and text */
    height: 35px; /* Set button height */
    width: 120px; /* Set button width */
    font-family: Calibri; /* Specify Calibri as the preferred font */
    font-size: 15px;
    font-weight: bold; /* Make the text bold */
}

.info-container button img {
    height: 30px; /* Adjust icon size */
    width: 30px; /* Adjust icon size */
}

.info-container button:hover {
    background-color: rebeccapurple; /* Darker background on hover */
}

.info-content {
    grid-column: span 2; /* Span two columns of the grid */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 15px;
    column-gap: 30px;
}

.info-content input {
    margin: 5px 0; /* Adjust margins */
    color: white; /* Make text color white */
    padding: 10px; /* Adjust padding as needed */
    border: 2px solid white; /* Border around the text box */
    border-radius: 50px; /* Rounded corners */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.info-content div {
    position: relative;
    font-family: "Poor Richard";
}

.info-content div p {
    margin: 5px 0; /* Adjust margins */
    color: white; /* Make text color white */
    padding: 10px; /* Adjust padding as needed */
    border: 2px solid white; /* Border around the text box */
    border-radius: 50px; /* Rounded corners */
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.info-content div p span.label {
    position: absolute;
    top: -10px;
    left: 15px;
    background-color: #0d1015;
    color: white;
    padding: 2px 5px;
    font-size: 1em;
    font-family: "Calibri Light";
}

.content-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 50vh;  /* Set a minimum height */
}

.content-box {
    background-color: rgba(255, 255, 255, 0.2); /* White background with opacity */
    border-radius: 3px; /* Rounded corners */
    width: 45%; /* Adjust width as needed */
    padding: 20px; /* Padding inside the container */
    text-align: center; /* Center the text */
    margin: 0 auto; /* Center horizontally within its parent */
}

.content-box h2 {
    margin: 0 0 20px 0; /* Adjust margins */
    color: #82CBDF; /* Text color */
    font-family: "Poor Richard";
    font-size: 45px;
    letter-spacing: 0.6px; /* Add some letter spacing for emphasis */
}

.content-box h3 {
    color: mediumpurple; /* Text color */
    font-family: "Poor Richard";
    font-size: 25px;
    letter-spacing: 1px; /* Add some letter spacing for emphasis */
    margin-top: 10px;
    margin-bottom: 8px;
}

.info-content-edit {
    grid-column: span 2; /* Span two columns of the grid */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 15px;
    column-gap: 30px;
}

.info-content-edit input {
    color: white; /* Make text color white */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 50px; /* Rounded corners */
    background-color: transparent; /* Semi-transparent background */
    height: 0px;
}

.info-content-edit div {
    position: relative;
    font-family: "Poor Richard";
}

.info-content-edit div p {
    margin: 5px 0; /* Adjust margins */
    color: white; /* Make text color white */
    padding: 10px; /* Adjust padding as needed */
    border: 2px solid white; /* Border around the text box */
    border-radius: 50px; /* Rounded corners */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.info-content-edit div p span.label {
    position: absolute;
    top: -10px;
    left: 15px;
    background-color: #0d1015;
    color: white;
    padding: 2px 5px;
    font-size: 1em;
    font-family: "Calibri Light"; /* Specify Calibri as the preferred font */
}