/* Questions.css */

.background-faq {
    background-image: url('/public/Images/QA Background.svg');
    background-size: cover; /* Adjusts the background size to be responsive */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    width: 100%; /* Full width of the viewport */
    min-height: 100vh;
    overflow: hidden; /* Prevents overflow issues */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start of the container */
    align-items: center;
    text-align: center;
    position: relative; /* Allows positioning of the logo */
    padding-top: 50px; /* Add padding to move content down a bit */
    padding-bottom: 50px; /* Add padding to move content down a bit */
}

.profile-button-faq {
    position: absolute; /* Positions the logo absolutely within the container */
    top: 7%; /* Adjust as needed */
    right: 3%; /* Adjust as needed */
    z-index: 9999; /* Ensure the button appears above other content */
    cursor: pointer; /* Show cursor as pointer on hover */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.profile-button-faq img {
    height: 60px;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.profile-button-faq:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}

.section-faq {
    color: white; /* Set text color to white */
    font-family: Calibri, sans-serif; /* Specify Calibri as the preferred font */
    width: 100%;
    max-width: 800px;
    margin: 0;
}

.container-faq {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-faq {
    background-color: rgba(255, 255, 255, 0.1); /* Light transparent background */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.card-faq h4 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.card-faq p {
    font-size: 20px;
    display: none;
}

.card-faq.faq_active {
    background-color: rgba(255, 255, 255, 0.3); /* Brighter background when active */
    border-color: rgba(255, 255, 255, 0.5); /* Brighter border when active */
}

.card-faq.faq_active p {
    display: block;
}

.faq_profile-button, .faq_Home-page-button {
    cursor: pointer;
}

.faq_h2, .faq_h3 {
    font-family: Calibri, sans-serif;
}

.faq_h2 {
    color: white;
    font-size: 22px;
}

.faq_h3 {
    color: #9374DD;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 900; /* Make the headline very bold */
    font-family: mon, sans-serif; /* Specify Calibri as the preferred font */
    letter-spacing: 0.2px; /* Add some letter spacing for emphasis */
    text-align: center; /* Center the text */
}

.faq_p {
    color: white;
    font-size: 22px;
    font-family: Calibri;
}
