/* Questions.css */

.faq_background-profile {
    background-image: url('/public/Images/Profile background.svg');
    background-size: cover; /* Adjusts the background size to be responsive */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    width: 100%; /* Full width of the viewport */
    min-height: 100vh;
    overflow: hidden; /* Prevents overflow issues */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start of the container */
    align-items: center;
    text-align: center;
    position: relative; /* Allows positioning of the logo */
    padding-top: 50px; /* Add padding to move content down a bit */
    padding-bottom: 50px; /* Add padding to move content down a bit */
}

.faq_faq-section {
    color: white; /* Set text color to white */
    font-family: Calibri, sans-serif; /* Specify Calibri as the preferred font */
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.faq_faq-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq_faq-card {
    background-color: rgba(255, 255, 255, 0.1); /* Light transparent background */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.faq_faq-card h4 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.faq_faq-card p {
    margin: 10px 0 0;
    font-size: 20px;
    display: none;
}

.faq_faq-card.faq_active {
    background-color: rgba(255, 255, 255, 0.3); /* Brighter background when active */
    border-color: rgba(255, 255, 255, 0.5); /* Brighter border when active */
}

.faq_faq-card.faq_active p {
    display: block;
}

.faq_profile-button, .faq_Home-page-button {
    cursor: pointer;
}

.faq_h2, .faq_h3 {
    font-family: Calibri, sans-serif;
}

.faq_h2 {
    color: white;
    font-size: 22px;
}

.faq_h3 {
    color: white;
    margin-top: 20px;
    font-size: 22px;
}

.faq_p {
    color: white;
    font-size: 22px;
}
