/* LogIn.css */

.registration-form {
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    position: absolute;
    top: 30%;
    right: 10%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Fixed width for the container */
}

.form-group-reg {
    position: relative;
    margin-bottom: 20px;
    width: 100%; /* Ensure the form group takes up the full width */
}

input-reg {
    width: 85%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    padding-left: 30px;
}

button-reg {
    width: 100%;
    padding: 10px;
    background-color: #8925C7; /* Blue color for the login button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button-reg:hover {
    opacity: 0.7;
}

.icon-container-reg {
    position: absolute;
    left: 5px; /* Adjust the position of the image */
    top: 50%;
    transform: translateY(-50%);
}

.form-group-reg {
    position: relative;
}

.input-with-icon-reg {
    padding-left: 80px; /* Add additional padding to the left of the input field to accommodate the image */
}

.additional-options-reg {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.additional-options-reg span {
    color: white;
    font-size: 13px;
    font-family: Calibri;
    cursor: pointer;
}

.additional-options-reg span:hover {
    color: mediumpurple;
}




