/* Registration.css */

.background-Registration {
    background-image: url('/public/Images/Login Background.svg');
    background-size: cover; /* Adjusts the background size to be responsive */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    width: 100%; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Prevents overflow issues */
    display: flex;
    justify-content: center; /* Center the content vertically */
    align-items: center;
    text-align: center;
    position: relative; /* Allows positioning of the logo */
    margin: 0; /* Ensure there is no margin around the element */
    padding: 0; /* Ensure there is no padding around the element */
}

.back-to-login-button {
    position: absolute;
    top: 20px;
    left: 40%;
    cursor: pointer;
    z-index: 9999; /* Ensure the button appears above other content */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}


.back-to-login-button img {
    height: 150px;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.back-to-login-button:hover img {
    transform: scale(1.1); /* Enlarge the logo image on hover */
}


.registration-form {
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    transform: translateX(75%); /* Move the form 50px to the right */
}


.Create-new-account h2 {
    font-size: 30px;
    font-weight: 800; /* Make the headline very bold */
    color: #fff;
    margin-bottom: 5%;
    margin-top: 0%; /* Remove any top margin */
    font-family: Montserrat, sans-serif; /* Specify Calibri as the preferred font */
    line-height: 1.2; /* Adjust line height if needed */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4); /* White shadow with 80% opacity */
}

.form-group-reg {
    position: relative;
    margin-bottom: 15px;
    width: 100%; /* Ensure the form group takes up the full width */
}

.input-reg {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding-left: 50px; /* Adjust for icon */
    font-family: Calibri;
    font-size: 19px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

.button-reg {
    width: 100%;
    padding: 15px;
    background-color: #82CBDF;
    border-radius: 50px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Calibri;
    font-size: 19px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

.button-reg:hover {
    opacity: 0.7;
}

.icon-container-reg {
    position: absolute;
    left: 15px; /* Adjust the position of the image */
    top: 50%;
    transform: translateY(-50%);
}

.form-group-reg {
    position: relative;
}

.input-with-icon-reg {
    padding-left: 80px; /* Add additional padding to the left of the input field to accommodate the image */
}

.additional-options-reg {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.additional-options-reg span {
    color: white;
    font-size: 13px;
    font-family: Calibri;
    cursor: pointer;
}

.additional-options-reg span:hover {
    color: mediumpurple;
}

.toggle-password-reg {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: lightgray;
    font-family: Calibri;
}

.toggle-password-reg:hover {
    color: mediumpurple;
}

/*.back-to-login-button {*/
/*    background-color: #82CBDF;*/
/*    color: #fff;*/
/*    border: none;*/
/*    border-radius: 50px;*/
/*    padding: 10px 20px;*/
/*    cursor: pointer;*/
/*    font-family: Calibri;*/
/*    font-size: 16px;*/
/*    text-align: center;*/
/*}*/

/*.back-to-login-button:hover {*/
/*    background-color: #66A3D3;*/
/*}*/
