/* LogIn.css */

.background-ResetPassword {
    background-image: url('/public/Images/Login Background.svg');
    background-size: cover; /* Adjusts the background size to cover the entire container */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    width: 100%; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    text-align: center;
    position: relative; /* Allows positioning of the logo */
    margin: 0; /* Ensure there is no margin around the element */
    padding: 0; /* Ensure there is no padding around the element */
}

.ResetPassword-form {
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    position: absolute;
    top: 20%;
    right: 10%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Fixed width for the container */
}

.h2-ResetPassword{
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold */
    color: mediumpurple; /* Set the text color */
    text-align: center; /* Center-align the text */
    letter-spacing: 0.5px; /* Add some letter spacing for emphasis */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow */
    font-family: Calibri, sans-serif; /* Specify Calibri as the preferred font */
}

.form-group-ResetPassword {
    position: relative;
    margin-bottom: 20px;
    width: 100%; /* Ensure the form group takes up the full width */
}

.input-ResetPassword {
    width: 100%; /* Input takes up full width of the form group */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 50px; /* Adjust for icon */
    font-family: Calibri;
    font-size: 19px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

.button-ResetPassword {
    width: 100%; /* Button takes up full width of the form group */
    padding: 15px;
    background-color: mediumpurple;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Calibri;
    font-size: 19px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
    border-radius: 5px;
}

.button-ResetPassword:hover {
    opacity: 0.7;
}

.icon-container-ResetPassword {
    position: absolute;
    left: 15px; /* Adjust the position of the image */
    top: 50%;
    transform: translateY(-50%);
}

.success-message-ResetPassword {
    color: green;
    font-size: 18px;
    font-family: 'Calibri', sans-serif;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: #e0ffe0;
  }
