
.ResetPassword-form {
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    width: 350px;
    transform: translateX(75%); /* Move the form 50px to the right */
}

.h2-ResetPassword{
    font-size: 4vh;
    font-weight: 800; /* Make the headline very bold */
    color: #fff;
    margin-bottom: 5%;
    margin-top: 5%; /* Remove any top margin */
    font-family: Calibri, sans-serif;
    line-height: 1.2; /* Adjust line height if needed */
}

.form-group-ResetPassword {
    position: relative;
    margin-bottom: 20px;
    width: 100%; /* Ensure the form group takes up the full width */
}

.input-ResetPassword {
    width: 100%; /* Input takes up full width of the form group */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding-left: 50px; /* Adjust for icon */
    font-family: Calibri;
    font-size: 19px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

.button-ResetPassword {
    width: 100%; /* Button takes up full width of the form group */
    padding: 15px;
    background-color: #82CBDF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Calibri;
    font-size: 19px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
    border-radius: 50px;
}

.button-ResetPassword:hover {
    opacity: 0.7;
}

.icon-container-ResetPassword {
    position: absolute;
    left: 15px; /* Adjust the position of the image */
    top: 50%;
    transform: translateY(-50%);
}

.success-message-ResetPassword {
    color: #82CBDF;
    font-size: 18px;
    font-family: 'Calibri', sans-serif;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #82CBDF;
    border-radius: 5px;
    background-color: white;
  }

.error-message-ResetPassword {
    color: red;
    font-size: 18px;
    font-family: 'Calibri', sans-serif;
}