.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app h2 {
    font-size: 3vw;
    font-weight: 800; /* Make the headline very bold */
    color: #fff;
    margin-bottom: 3%;
    margin-top: -5%; /* Remove any top margin */
    font-family: Montserrat, sans-serif;
    line-height: 1.2; /* Adjust line height if needed */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* White shadow with 80% opacity */
}

.Picker-grid {
    display: grid;
    grid-template-columns: repeat(5, 9vw); /* 4 columns */
    grid-template-rows: repeat(3, 9vw); /* 3 rows */
    gap: 20px;
    width: 85%; /* Adjust width as needed */
    height: 60%; /* Adjust height as needed */
    position: relative;
    margin: 0 auto; /* Center the grid horizontally */
    justify-content: center;
}

.Picker-button {
    width: 100%; /* Full width of the grid cell */
    height: 100%; /* Full height of the grid cell */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #82CBDF;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-family: Calibri, sans-serif;
    font-size: 16px;
}

.Picker-button.selected {
    background-color: mediumpurple;
    color: #FFF;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the gap between buttons */
    position: relative;
  }
  
  .button-arrow {
    width: 30px; /* Smaller button size */
    height: 30px;
    border-radius: 15px; /* Circular buttons */
    background-color: #666; /* Background color for the button */
    color: white; /* Text color */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  
  .button-arrow:disabled {
    background-color: #ccc; /* Lighter color when button is disabled */
  }

.button-pagination-Lets-Continue{
  width: 100%; /* Button takes up full width of the form group */
    padding: 15px;
    background-color: #82CBDF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 19px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
    border-radius: 50px;
    font-weight: bold;
}
  

select {
  width: 500px;
}
